$color-weddings: #ce3533;
$color-weddings-transparent: rgba(206,53,51,0.5);
$color-photoshoots: #d68404;
$color-photoshoots-transparent: rgba(214,132,4,0.5);
$color-events: #0a7e3b;
$color-events-transparent: rgba(10,126,59,0.5);
$color-parties:	#0b4391;
$color-parties-transparent: rgba(11,67,145,0.5);
$color-project365: #450469;
$color-contact: #450469;
$color-contact-transparent: rgba(69,4,105,0.5);
$color-light: #aaa;

$navbar-width: 250px;

$font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
$font-size-title: 16pt;
$font-size-subtitle: 13pt;
$font-size-paragraph: 11pt;
$font-size-menu: 14pt;
$font-size-slogan: 9pt;
