$color-weddings: #ce3533;
$color-photoshoots: #d68404;
$color-events: #0a7e3b;
$color-parties:	#0b4391;
$color-project365: #450469;

$navbar-width: 250px;

$font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
$font-size-title: 16pt;
$font-size-subtitle: 13pt;
$font-size-paragraph: 11pt;
$font-size-menu: 14pt;
$font-size-slogan: 9pt;
