@import './_variables';
@import './_mixins';
@import './_reset';

.weddings {
    color: $color-weddings;
}

.photoshoots {
    color: $color-photoshoots;
}

.events {
    color: $color-events;
}

.parties {
    color: $color-parties;
}

.project365 {
    color: $color-project365;
}

/*.container {
    padding-left: $navbar-width;
    margin: 0;
    width: 100%;
}*/

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    /*left: $navbar-width;
    height: 100%;
    bottom: 0;
    z-index: 1000;
    width: $navbar-width;
    margin-left: -$navbar-width;*/
    background: $color-weddings;
    text-align: center;

    h1 { 
        height: 120px;
        width: 120px;
        position: relative;
        overflow: hidden;
        margin: 25px auto;
    }

    h1 span {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url('/assets/images/logo.png');
    }
    
    p {
        font-size: $font-size-slogan;
        text-align: center;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    ul li {
        padding: 10px;
        text-align: center;
        font-size: $font-size-menu;
        line-height: 1.5 * $font-size-menu;
        color: white;
    }

    ul li a {
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        display: block;
        color: white !important;
        border-radius: 5px;
        transition: all 0.4s ease 0s;
    }

    ul li a:hover {
        box-shadow: inset 0 0 0 1px white;
    }

    ul li a.home:hover {
        @include invert-color($color-weddings);
    }

    ul li a.weddings:hover {
        @include invert-color($color-weddings);
    }

    ul li a.photoshoots:hover {
        @include invert-color($color-photoshoots);
    }

    ul li a.events:hover {
        @include invert-color($color-events);
    }

    ul li a.parties:hover {
        @include invert-color($color-parties);
    }

    ul li a.project365:hover {
        @include invert-color($color-project365);
    }
}

.content {
    /*position: relative;
    margin-right: 0;
    /*width: 100%;
    margin-left: $navbar-width;*/
    padding: 25px;
    
    h2 {
        font-family: $font-family;
        font-size: $font-size-title;
    }

    h3 {
        font-weight: normal;
        margin: 10pt 0;
        font-size: $font-size-subtitle;
        border-bottom: 1px solid $color-light;
        padding-bottom: 5pt;
    }

    p {
        font-size: 11pt;
        line-height: 18pt;
        margin: 12pt 0;
    }

    sidebar-thumbnail {
        overflow: hidden;
        padding: 10px;
    }
}



.modal-dialog {
    position: fixed;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;

    .modal-body {
        margin: 0;
        padding: 10px;
        text-align: center;
        
        img {
            max-height: calc(100vh - 70px);
        }
    }

    .modal-content {
        max-height: 100%;
        max-width: 100%;
        border: 0;
    }

    button.close {
        position: absolute;
        right: -25px;
        top: -25px;
        background: white;
        height: 50px;
        width: 50px;
        z-index: 5000;
        border-radius: 25px;
        font-size: 2rem;
    }
}