<div class="row">
        <div class="col-md-9">
            <rotating-photos [amount]="5" [location]="'assets/images/photoshoots-background'">{{pageTitle}}</rotating-photos>      
            <h3 id="beautiful-photoshoot">Je ziet er prachtig uit!</h3>
            <p>Een photoshoot kan gemaakt worden voor allerlei redenen. Misschien heb je zin in een nieuwe profielfoto op social media? Of willen jullie van het hele gezin of de gehele familie eens mooie fotos laten maken? Of gewoon voor de fun eens lekker poseren voor de camera? Er zijn genoeg redenen te bedenken waarom je eens kan aankloppen bij mij voor een photoshoot.</p>
            <h3 id="photoshoot-how-i-work">Hoe het allemaal in zijn werk gaat</h3>
            <p>Heb je nog geen ervaring met photoshoots? Geen probleem! Ik begeleid je volledig in het proces. We beginnen met de volgende dingen te defini&euml;ren: locatie, gelegenheid, thema en wie de modellen zijn. Ik werk namelijk altijd op locatie. Je kan dus zelf een voorstel doen voor de locatie of ik kom zelf met wat voorstellen. We bespreken via telefoon of mail de plannen. In het geval van een grootse photoshoot, kan ik ook altijd eens langskomen om het meer in detail te bespreken en eventueel wat voorbeelden te tonen van wat je kan verwachten.</p>
            <h3 id="photoshoot-quick-results">Dezelfde dag nog een preview</h3>
            <p>Iedereen wil altijd zo snel mogelijk zien hoe de fotos eruit zien. Tijdens de photoshoot kan ik weliswaar eens de fotos laten zien op de camera maar die zijn nog niet te vergelijken met het eindresultaat. Misschien heb je graag een specialere bewerking of wil je zo snel mogelijk de fotos hebben om ze aan iedereen te laten zien? Ik zorg ervoor dat ik zelfs ter plekke bij u thuis al een preview kan laten zien. Ik bewerk een eerste versie van een paar fotos op mijn tablet om ze dan al te laten zien. Zo kan u direct een beetje bijsturen waar nodig en bent u zeker dat het eindresultaat achteraf exact is wat u wou.</p>
            <h3 id="photoshoot-fix-price">Een vaste, op voorhand gekende prijs</h3>
            <p>Niemand houdt van onaangename verrassingen, zeker als het over geld gaat. Daarom stel ik altijd een duidelijke offerte op waar ik me ook aan houd. U weet dus op voorhand wat de photoshoot zal kosten. Zelfs al kost het me meer tijd om de fotos te bewerken of heb ik het gevoel dat ik nog betere fotos kan trekken door een halfuurtje langer te blijven, ik reken het op voorhand gekende bedrag aan. Ik werk meestal met een uurprijs maar er is altijd te onderhandelen om een mooie duidelijke prijs te krijgen in het geval van meerdere uren werk.</p>
            <h3 id="photoshoot-script">Een draaiboek, op voorhand bepaald</h3>
            <p>Om zeker te zijn dat u alle fotos krijgt die u verwacht, stel ik op voorhand een draaiboek op. Dit kan heel eenvoudigweg een overzicht zijn van alle poses en scenarios waarin we fotos gaan trekken maar kan ook meer info bevatten zoals details over de locatie. Dit stel ik op samen met de offerte zodat u exact weet wat te verwachten op de dag van de photoshoot zelf. Op de photoshoot zelf kan er natuurlijk altijd spontaan iets veranderd worden aan het draaiboek, zoals een paar extra fotos.</p>
        </div>
        <aside class="col-md-3">
            <ul inpagenavigation>
                <li><a href="#beautiful-photoshoot">Prachtige photoshoot</a></li>
                <li><a href="#photoshoot-how-i-work">Hoe ik werk</a></li>
                <li><a href="#photoshoot-quick-results">Snelle oplevering</a></li>
                <li><a href="#photoshoot-fix-price">Vaste prijs</a></li>
                <li><a href="#photoshoot-script">Afspraken vooraf</a></li>
            </ul>
            <div class="row">
                <sidebar-thumbnail class="col-6" [image]="'assets/images/photoshoots-background-1.jpg'"></sidebar-thumbnail>
                <sidebar-thumbnail class="col-6" [image]="'assets/images/photoshoots-background-2.jpg'"></sidebar-thumbnail>
                <sidebar-thumbnail class="col-6" [image]="'assets/images/photoshoots-background-3.jpg'"></sidebar-thumbnail>
                <sidebar-thumbnail class="col-6" [image]="'assets/images/photoshoots-background-4.jpg'"></sidebar-thumbnail>
                <sidebar-thumbnail class="col-6" [image]="'assets/images/photoshoots-background-5.jpg'"></sidebar-thumbnail>
            </div>
        </aside>
    </div>