<div class="row">
    <div class="col-md-9">
        <app-rotating-photos [color]="'rgba(10,126,59,0.5)'" [amount]="6" [location]="'assets/images/events-background'">{{pageTitle}}</app-rotating-photos>
        <h3 id="event-pictures">Afterworks, bedrijfspresentaties en meer.</h3>
        <p>Ik ben te boeken voor allerlei events. Recepties, afterwork events, communies, bedrijfspresentaties, alles is mogelijk.</p>
        <h3 id="event-how-i-work">Hoe alles in zijn werk gaat</h3>
        <p>We spreken op voorhand verschillende zaken af: waar gaat het event door, hoe lang wilt u dat ik aanwezig ben, wat zijn de soort fotos die u wil en dergelijke meer. Op basis hiervan stel ik een draaiboek op zodat u exact weet wat te verwachten. Op het event zelf loop ik dan rond, op zoek naar de juiste fotos. Wilt u meer sfeerfotos of eerder portretfotos of een combinatie van vanalles? Alles is mogelijk. We spreken alles af via mail, telefoon of een ander medium. Indien het over een groot event gaat, kan ik altijd eens langskomen de zaken meer in detail te bespreken. Neem gerust contact op indien u met vragen zit.</p>
        <h3 id="event-quick-results">Een snelle oplevering</h3>
        <p>We spreken op voorhand af wat de deadline is. Ik tracht altijd binnen de paar dagen op te leveren. Indien gewenst kan ik ook al een preview tonen van een paar bewerkte fotos, ideaal om reeds iets te delen op bijvoorbeeld sociale media om je bezoekers te bedanken.</p>
        <h3 id="event-fix-price">Een vastgelegde prijs op voorhand</h3>
        <p>Omdat we op voorhand allerlei zaken hebben vastgelegd, kan ik ook een exacte prijs geven in de offerte wat het allemaal zal kosten. Zo weet u exact wat te verwachten en zijn er geen verrassingen.</p>
    </div>
    <aside class="col-md-3">
        <ul appInPageNavigation>
            <li><a href="#event-pictures">Soorten events</a></li>
            <li><a href="#event-how-i-work">Hoe ik werk</a></li>
            <li><a href="#event-quick-results">Snelle oplevering</a></li>
            <li><a href="#event-fix-price">Vaste prijs</a></li>
        </ul>
        <div class="row">
            <app-sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-1.jpg'"></app-sidebar-thumbnail>
            <app-sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-2.jpg'"></app-sidebar-thumbnail>
            <app-sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-3.jpg'"></app-sidebar-thumbnail>
            <app-sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-4.jpg'"></app-sidebar-thumbnail>
            <app-sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-5.jpg'"></app-sidebar-thumbnail>
            <app-sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-6.jpg'"></app-sidebar-thumbnail>
        </div>
    </aside>
</div>