<div class="row">
    <div class="col-md-9">
        <rotating-photos [amount]="6" [location]="'assets/images/events-background'">{{pageTitle}}</rotating-photos>
        <h3>Afterworks, bedrijfspresentaties en meer.</h3>
        <p>Ik ben te boeken voor allerlei events. Recepties, afterwork events, communies, bedrijfspresentaties, alles is mogelijk.</p>
    </div>
    <aside class="col-md-3">
        <ul inpagenavigation>
            <li><a href="events#event-pictures">Soorten events</a></li>
            <li><a href="events#event-how-i-work">Hoe ik werk</a></li>
            <li><a href="events#event-quick-results">Snelle oplevering</a></li>
            <li><a href="events#event-fix-price">Vaste prijs</a></li>
            <li><a href="events#event-script">Afspraken vooraf</a></li>
        </ul>
        <div class="row">
            <sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-1.jpg'"></sidebar-thumbnail>
            <sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-2.jpg'"></sidebar-thumbnail>
            <sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-3.jpg'"></sidebar-thumbnail>
            <sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-4.jpg'"></sidebar-thumbnail>
            <sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-5.jpg'"></sidebar-thumbnail>
            <sidebar-thumbnail class="col-6" [image]="'assets/images/events-background-6.jpg'"></sidebar-thumbnail>
        </div>
    </aside>
</div>