<ng-template #content let-c="close" let-d="dismiss">
    <!--<div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>-->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
    <div class="modal-body">
        <img [src]="image" class="img-fluid" />
    </div>
</ng-template>
<div (click)="open(content)" [ngClass]="classes" [ngStyle]="genericStylings">
    <span [ngStyle]="contentStylings"></span>
</div>