<div class="row">
    <div class="col-md-9">
        <app-rotating-photos [color]="'rgba(69,4,105,0.5)'" [amount]="6" [location]="'assets/images/events-background'">Contact</app-rotating-photos>
        <h3>Hoe kan u mij contacteren?</h3>
        <p>Hebt u vragen voor een mogelijke opdracht? Bent u geinteresseerd om mij in te huren? Wilt u meer info? U kan mij contacteren via mijn LinkedIn, Facebook, gsm nummer (zowel sms als bellen) als ook door een mail te sturen naar <a href="mailto:cheese@elke.photos">cheese@elke.photos</a>. Ik zal zo spoedig mogelijk met u contact opnemen om alles verder te bespreken.</p>
    </div>
    <aside class="col-md-3">
        <ul>
            <li>0495 42 78 19</li>
            <li><a href="https://www.linkedin.com/in/elkeheymans/">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/elkephotos/">Facebook</a></li>
        </ul>
    </aside>
</div>