@import '../../sass/_variables';

h2 {
    background-image: url('../../assets/images/parties-background-1.jpg');
    background-size: 100% auto;
    background-position-y: 50%;
    height: 200px;
    position: relative;
    margin: 0 0 10pt 0;

    span {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 15px;
        background: $color-parties-transparent;
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

aside {
    ul {
        list-style: none;
        padding-left: 10px;
    }

    ul li {
        text-align: right;
        color: grey;
        font-size: 11pt;
        line-height: 18pt;
        padding-right: 5px;

        &.active {
            border-right: 3px solid $color-parties-transparent;
        }
    }

    .photocollection div {
        padding: 0;
        padding-top: 50%;
        display: inline-block;
        position: relative;

        span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 5px;
            background: red;
        }
    }
}

@media (max-width: 768px) {
    aside ul {
        background: $color-parties;

        li {
            color: white;
        }

        &.active {
            border-right: 3px solid white;
        }
    }
}