<div class="row">
    <div class="nav d-none d-md-block col-md-2">
        <h1><span><img src="assets/images/logo.png" /></span>Elke.photos</h1>
        <!--<button type="button" (click)="toggleNavigation()" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        <ul #navigation [hidden]="false">
            <li><a routerLink="/home" routerLinkActive="active" class="home">Home</a></li>
            <li><a routerLink="/huwelijken" routerLinkActive="active" class="weddings">Huwelijken</a></li>
            <li><a routerLink="/photoshoots" routerLinkActive="active" class="photoshoots">Photoshoots</a></li>
            <li><a routerLink="/evenementen" routerLinkActive="active" class="events">Events</a></li>
            <li><a routerLink="/fuiven" routerLinkActive="active" class="parties">Fuiven</a></li>
            <li><a routerLink="/project365" routerLinkActive="active" class="project365">365 project</a></li>
            <li><a routerLink="/contact" routerLinkActive="active" class="contact">Contact</a></li>
        </ul>
    </div>
    <nav class="dropdown d-md-none col-12">
        <h1><span><img src="assets/images/logo.png" /></span>Elke.photos</h1>        
        <fa name="bars" (click)="toggleHamburgerMenu($event)"></fa>
        <ul *ngIf="hamburgerMenuVisible">
            <li><a routerLink="/home" (click)="toggleHamburgerMenu($event)" routerLinkActive="active" class="home">Home</a></li>
            <li><a routerLink="/huwelijken" (click)="toggleHamburgerMenu($event)" routerLinkActive="active" class="weddings">Huwelijken</a></li>
            <li><a routerLink="/photoshoots" (click)="toggleHamburgerMenu($event)" routerLinkActive="active" class="photoshoots">Photoshoots</a></li>
            <li><a routerLink="/evenementen" (click)="toggleHamburgerMenu($event)" routerLinkActive="active" class="events">Events</a></li>
            <li><a routerLink="/fuiven" (click)="toggleHamburgerMenu($event)" routerLinkActive="active" class="parties">Fuiven</a></li>
            <li><a routerLink="/project365" (click)="toggleHamburgerMenu($event)" routerLinkActive="active" class="project365">365 project</a></li>
            <li><a routerLink="/contact" (click)="toggleHamburgerMenu($event)" routerLinkActive="active" class="contact">Contact</a></li>
        </ul>
    </nav>
    <div class="content col-12 col-md-10 offset-md-2">
        <router-outlet></router-outlet>
    </div>   
</div>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </div>
  </nav>-->