<div class="container row">
  <div class="nav col-md-2">
    <h1><span></span>Elke.photos</h1>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" class="home">Home</a></li>
      <li><a routerLink="/huwelijken" routerLinkActive="active" class="weddings">Huwelijken</a></li>
      <li><a routerLink="/photoshoots" routerLinkActive="active" class="photoshoots">Photoshoots</a></li>
      <li><a routerLink="/evenementen" routerLinkActive="active" class="events">Events</a></li>
      <li><a routerLink="/fuiven" routerLinkActive="active" class="parties">Fuiven</a></li>
      <li><a routerLink="/project365" routerLinkActive="active" class="project365">365 project</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" class="contact">Contact</a></li>
    </ul>
  </div>
  <div class="content col-md-10">
    <router-outlet></router-outlet>
  </div>   
</div>