<div class="container">
  <div class="nav">
    <h1>Elke.photos</h1>
    <p>Elke herinnering voor eeuwig vastleggen</p>
    <ul>
      <li>Home</li>
      <li class="weddings">Huwelijken</li>
      <li class="photoshoots">Photoshoots</li>
      <li class="events">Events</li>
      <li class="parties">Fuiven</li>
      <li class="project365">365 project</li>
    </ul>
  </div>
  <div class="content">
    <ul>
      <li *ngFor="let photo of photos">
        {{photo.description}}
      </li>
    </ul>
  </div>   
</div>