<div class="form-group">
	<label for="description">Description</label>
	<input type="text" class="form-control" id="description" required [(ngModel)]="photo.description" name="description">
</div>
<div class="form-group">
	<label for="aperture">Aperture</label>
	<input type="text" class="form-control" id="aperture" required [(ngModel)]="photo.aperture" name="aperture">
</div>
<div class="form-group">
	<label for="exposure">Exposure</label>
	<input type="text" class="form-control" id="exposure" required [(ngModel)]="photo.exposure" name="exposure">
</div>
<div class="form-group">
	<label for="iso">ISO</label>
	<input type="text" class="form-control" id="iso" required [(ngModel)]="photo.iso" name="iso">
</div>
<div class="form-group">
	<label for="focallength">Focallength</label>
	<input type="text" class="form-control" id="focallength" required [(ngModel)]="photo.focallength" name="focallength">
</div>
<div class="form-group">
	<label for="fisheye">Fisheye</label>
	<input type="text" class="form-control" id="fisheye" required [(ngModel)]="photo.fisheye" name="fisheye">
</div>