<div class="row">
    <div class="col-md-9">
        <h2><span>Huwelijksfotografie</span></h2>
        <h3>De mooiste dag van je leven, voor eeuwig vastgelegd!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sagittis nulla. Morbi a egestas velit. Morbi fringilla dui non egestas rutrum. Pellentesque hendrerit, mi ut sodales aliquet, nisi lectus ullamcorper felis, sed sagittis velit purus et ante. Nullam non tincidunt eros, in semper sapien. Cras at erat a metus ullamcorper ullamcorper. Curabitur a odio enim. Phasellus condimentum sem vitae metus condimentum faucibus. Duis pharetra mollis ligula id imperdiet. Nulla ut commodo metus. Morbi eget mattis justo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sagittis nulla. Morbi a egestas velit. Morbi fringilla dui non egestas rutrum. Pellentesque hendrerit, mi ut sodales aliquet, nisi lectus ullamcorper felis, sed sagittis velit purus et ante. Nullam non tincidunt eros, in semper sapien. Cras at erat a metus ullamcorper ullamcorper. Curabitur a odio enim. Phasellus condimentum sem vitae metus condimentum faucibus. Duis pharetra mollis ligula id imperdiet. Nulla ut commodo metus. Morbi eget mattis justo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sagittis nulla. Morbi a egestas velit. Morbi fringilla dui non egestas rutrum. Pellentesque hendrerit, mi ut sodales aliquet, nisi lectus ullamcorper felis, sed sagittis velit purus et ante. Nullam non tincidunt eros, in semper sapien. Cras at erat a metus ullamcorper ullamcorper. Curabitur a odio enim. Phasellus condimentum sem vitae metus condimentum faucibus. Duis pharetra mollis ligula id imperdiet. Nulla ut commodo metus. Morbi eget mattis justo.</p>
    </div>
    <aside class="col-md-3">
        <ul>
            <li class="active">Vooraf</li>
            <li>De start van de dag</li>
            <li>De ceremonie</li>
            <li>Photoshoot</li>
            <li>Het feest</li>
            <li>Achteraf</li>
        </ul>
        <div class="row photocollection">
            <div class="col-xs-6">
                <span>Pic1</span>
            </div>
            <div class="col-xs-6">
                <span>Pic2</span>
            </div>
            <div class="col-xs-6">
                <span>Pic3</span>
            </div>
            <div class="col-xs-6">
                <span>Pic4</span>
            </div>
        </div>
    </aside>
</div>