aside {
    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        text-align: right;
        color: grey;
        font-size: 11pt;
        line-height: 18pt;
        padding-right: 5px;

        &.active {
            border-right: 3px solid rgba(255, 0, 0, 0.5);
        }
    }
}

p {
    img {
        width: 40%;
        padding: 10px;
        border: 1px solid #ccc;

        &.left {
            margin: 5px 10px 5px 0;
        }

        &.right {
            margin: 5px 0 5px 10px;
        }
    }
}