<div class="row">
    <div class="col-md-9">
        <rotating-photos [amount]="5" [location]="'assets/images/weddings-background'">Huwelijksfotografie</rotating-photos>
        <h3>De mooiste dag van je leven, voor eeuwig vastgelegd!</h3>
        <p>Trouwen met de ware is een prachtig moment. Het is een unieke dag in je leven die je voor altijd zal bijblijven.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sagittis nulla. Morbi a egestas velit. Morbi fringilla dui non egestas rutrum. Pellentesque hendrerit, mi ut sodales aliquet, nisi lectus ullamcorper felis, sed sagittis velit purus et ante. Nullam non tincidunt eros, in semper sapien. Cras at erat a metus ullamcorper ullamcorper. Curabitur a odio enim. Phasellus condimentum sem vitae metus condimentum faucibus. Duis pharetra mollis ligula id imperdiet. Nulla ut commodo metus. Morbi eget mattis justo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sagittis nulla. Morbi a egestas velit. Morbi fringilla dui non egestas rutrum. Pellentesque hendrerit, mi ut sodales aliquet, nisi lectus ullamcorper felis, sed sagittis velit purus et ante. Nullam non tincidunt eros, in semper sapien. Cras at erat a metus ullamcorper ullamcorper. Curabitur a odio enim. Phasellus condimentum sem vitae metus condimentum faucibus. Duis pharetra mollis ligula id imperdiet. Nulla ut commodo metus. Morbi eget mattis justo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sagittis nulla. Morbi a egestas velit. Morbi fringilla dui non egestas rutrum. Pellentesque hendrerit, mi ut sodales aliquet, nisi lectus ullamcorper felis, sed sagittis velit purus et ante. Nullam non tincidunt eros, in semper sapien. Cras at erat a metus ullamcorper ullamcorper. Curabitur a odio enim. Phasellus condimentum sem vitae metus condimentum faucibus. Duis pharetra mollis ligula id imperdiet. Nulla ut commodo metus. Morbi eget mattis justo.</p>
    </div>
    <aside class="col-md-3">
        <ul>
            <li class="active">Vooraf</li>
            <li>De start van de dag</li>
            <li>De ceremonie</li>
            <li>Photoshoot</li>
            <li>Het feest</li>
            <li>Achteraf</li>
        </ul>
        <div class="row photocollection">
            <sidebar-thumbnail>Test 1</sidebar-thumbnail>
            <sidebar-thumbnail>Test 2</sidebar-thumbnail>
            <sidebar-thumbnail>Test 3</sidebar-thumbnail>
            <sidebar-thumbnail>Test 4</sidebar-thumbnail>
        </div>
    </aside>
</div>