aside {
    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        text-align: right;
        color: grey;
        font-size: 11pt;
        line-height: 18pt;
        padding-right: 5px;

        &.active {
            border-right: 3px solid rgba(255, 0, 0, 0.5);
        }
    }
}